* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;

}

/* dark mode */
body.dark-mode {
  background-color: #212529;
  /* Couleur de fond sombre */
  color: #f8f9fa;
  /* Couleur de texte claire */

}

body.dark-mode .nav-link {
  color: #f8f9fa;
}

.nav-link {
  color: #212529;
}

#mainNav.navbar-shrink .nav-link {
  color: #f8f9fa;
}

.btn-dark-moon {
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* .bi-brightness-low {
  font-size: 1.5rem;
  color: #fff;
} */

/* .bi-moon-stars {
  font-size: 1.2rem;
  color: #333;
} */

.btn {
  background-color: var(--bs-warning);
  /* Utilise la variable pour la couleur de fond */
  color: white;
  border: none;
  /* Ajustez la couleur du texte si nécessaire */
}

.btn:hover {
  border-color: transparent !important;
  background-color: var(--bs-warning) !important;
}



.bg-btn,
.bg-10bbf1,
.bg-ffc800,
.bg-ff0000 {
  width: 20px;
  height: 20px;
  background: #ff0000;
  display: inline-block;
  border-radius: 50%;
}

.bg-10bbf1 {
  background: #10bbf1;
}

.bg-ffc800 {
  background: #ffc800;
}

.span-card {
  border: 1px solid #ccc;
  padding: 1.6px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.bg-btn {
  background-color: var(--bs-warning);

}

.dropdown-menu.show {
  display: flex;
  width: 50px;
}

a#dropdownMenuLink:hover,
a#dropdownMenuLink {
  color: transparent;
  background: transparent;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  width: 100px;

}

.dropdown {
  padding: 22px 0px 0px 20px;
}

/* Autres styles nécessaires */

/* fin dark mode */
a {
  text-decoration: none;
  color: #333;
}

.text-justify {
  text-align: justify;
}

.navmenu-hidden {
  display: none;
}

.navmenu-hidden.active {
  display: block;
}

.navmenu-hidden ul {
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  text-transform: uppercase;
  flex-direction: column;
  padding: 10px;
}

.navmenu-hidden ul li a {
  color: #fff;
}

.iconne-span-cercle {
  display: inline-block;
  background-color: var(--bs-warning);
  border-radius: 50%;
  height: 112px;
  width: 112px;
  color: #fff;
  position: relative;
}

.iconne-span-cercle i {
  font-size: 4em;
}

.fa-3x {
  font-size: 2.2rem !important;
  color: #fff;
}

.fa-2x {
  font-size: 1.5rem;
  position: relative;
  top: -2px !important;
  color: #fff;
}

.img-portfolio {
  transition: .3s;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  box-shadow: #8b828214 0 2px 20px;
  margin: 0;
  height: 222px;
}

.modal-fullscreen .modal-body {
  overflow-y: auto;
  /* Permet le défilement */
  scrollbar-width: thin;
  /* Réduit la largeur de la barre pour Firefox */
  scrollbar-color: transparent transparent;
  /* Couleur de la barre et du fond pour Firefox */
}

.modal-content {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.bi-x-lg,
.btn-close {
  color: #fff;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-family: "Raleway", sans-serif;
  color: #6c757d;
}

.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio-filters li.active {
  background-color: var(--bs-warning);
  color: white;
  border-color: var(--bs-warning);
}

/* fadeInUp */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.card-logos a img {
  width: 150px;
  height: auto;
  opacity: .5;
  filter: grayscale(100%);
}

.card-logos a img:hover {
  opacity: 1;
  filter: none;
}

#portfolio .portfolio-item {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  border: none;
  /* background: red; */
  padding: 0 !important;
}

.navbar-toggler i {
  font-size: 1.5rem;
  color: #ccc;
}

.list-mob-i18,
.list-mob-moon {
  display: none;
}

.list-mob-bg {
  display: none;
}

.list-pc-moon {
  display: flex;
}
.list-mob-bg,
.list-mob-moon,
.list-pc-bg,
.list-pc-moon {
  flex-wrap: wrap;
  align-content: center;
}


/* text turn */
.circle {
  position: relative;
  width: 380px;
  height: 380px;
  /* background: red; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
  font-weight: 700;
  border-radius: 100%;
  text-transform: uppercase;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 190px;
}

img.im-banners {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.div-cont-bann {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

/*  */
#mainNav .navbar-nav .nav-item {
  display: flex;
  margin-right: 1rem;
  flex-wrap: wrap;
  align-content: center;
}

/* skills css */
.bar {
  font-size: 23px;
}

.technical-bars .bar {
  margin: 40px 0;
  overflow: hidden;
}

.timeline-inverted {
  overflow: hidden;
}

.technical-bars .bar:first-child {
  margin-top: 0;
}

.technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
}

.technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000;
}

.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: var(--bs-warning);
  position: absolute;
  border-radius: 10px;
}

/* Définir directement la largeur pour chaque compétence */
.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 80%;
}

.progress-line.js span {
  width: 75%;
}

.progress-line.bootstrap span {
  width: 85%;
}

.percentage {
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 14px;
  opacity: 1;
}

/*  */
.dropdown-menu.show {
  left: -45px;
  height: 45px;
  cursor: pointer;
}

.name-sm {
  /* background: linear-gradient(to right, var(--bs-warning), #c16ae3); */
  background: linear-gradient(to left, var(--bs-warning) 0%, #c6019a 51%, var(--bs-warning) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.icn-e-com {
  position: absolute;
  right: 24px;
  top: 20px;
}

.icn-resp {
  position: absolute;
  right: 24px;
  top: 25px;
}

.dropdown-item:hover {
  background-color: #fff;
}

/*  */
.hamburger-menu {
  /* width: 30px; */
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.line {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* Active state */
.hamburger-menu.active .line:nth-child(1) {
  transform: translateY(12.5px) rotate(45deg);
}

.hamburger-menu.active .line:nth-child(2) {
  opacity: 0;
  width: 36px;
}

.hamburger-menu.active .line:nth-child(3) {
  transform: translateY(-12.5px) rotate(-45deg);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.div-ov-icn,
.santatra-tel,
.nav-link i {
  display: none;
}

/* icone to top footer */
.div-fixed {
  position: fixed;
  text-align: center;
  cursor: pointer;
  z-index: 99;
  width: 2.1em;
  height: 2.1em;
  line-height: 2.1;
  border-radius: 2px;
  outline: inherit;
  right: 60px;
  bottom: 30px;
  background-color: var(--bs-warning);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(50px);
}

.div-fixed a {
  font-size: 15px;
  color: #ffffff;
}

.div-fixed.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.div-fixed.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}

@media (max-width: 991px) {
  .nav-link {
    color: #f8f9fa;
  }

  body.dark-mode .number-phone {
    color: #f8f9fa;
  }

  .number-phone {
    color: #212529;
  }
}

@media (max-width: 996px) {
  .list-pc-moon {
    display: none;
  }
  .list-mob-i18,
  .list-mob-moon {
    display: flex;
  }

  .list-mob-bg {
    display: flex;
  }

  .list-pc-bg {
    display: none;
  }

  .div-cont-bann {
    margin-bottom: 50px;
  }

  .row-bann {
    flex-direction: column-reverse;
    align-content: center;
  }

  header.masthead {
    text-align: center;
  }

  /* text */
  .navbar-collapse {
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    padding-left: 20px;
    left: 0;
    width: 210px;
    height: 100vh;
    /* background-color: #212529; */
    z-index: 1050;
  }

  body .navbar-collapse,
  body.light-mode .navbar-collapse {
    background-color: #fff;
  }

  body #mainNav .navbar-nav .nav-item .nav-link,
  body.light-mode #mainNav .navbar-nav .nav-item .nav-link {
    color: #000000;
  }

  body.dark-mode .navbar-collapse {
    background-color: #000000;
  }

  body.dark-mode #mainNav .navbar-nav .nav-item .nav-link {
    color: #f8f9fa;
  }


  /* Lorsque le menu est ouvert, il glisse dans l'écran */
  .navbar-collapse.open {
    transform: translateX(0);
  }

  /* Lorsque le menu est fermé, il glisse hors de l'écran à gauche */
  .navbar-collapse.closed {
    transform: translateX(-100%);
  }

  .overlay {
    opacity: 0.5;
    pointer-events: none;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    font-size: 18 px;
    /* background-color: red; */
  }

  .nav-link i {
    display: block;
    font-size: 24px;
    margin-right: 18px;
    color: var(--bs-warning);

  }

  .santatra-tel {
    display: block;
    padding: 25px 12px;
    width: 50%;
  }

  .div-ov-icn {
    /* background: red; */
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
  }

  .div-fixed {
    right: 30px;
  }
}

@media (max-width: 400px) {

  .list-mob-bg,
  .list-mob-moon {
    position: absolute;
    right: 68px;
    top: 24px;
  }

  .list-mob-moon {
    top: 17px;
  }

  .list-mob-bg {
    right: 120px;
  }
  .list-mob-i18{
    position: absolute;
    right: 165px;
  }
  .dropdown {
    padding: 0px;
  }

  .circle {
    width: 350px;
    height: 350px;
  }

  img.im-banners {
    width: 280px;
    height: 280px;
  }

  .text span {
    transform-origin: 0 175px;
  }


}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1020;
}

.overlay.show {
  display: block;
  opacity: 1;
}
body:has(.overlay.show) .list-mob-i18 a,
body:has(.overlay.show) .span-card,
body:has(.overlay.show) .btn-dark-moon,
body:has(.overlay.show) .hamburger-menu {
  opacity: 0.5;
}


.div-ov-icn li {
  list-style: none;
  border: 1px solid var(--bs-warning);
  border-radius: 50%;
}

.div-ov-icn li a {
  color: var(--bs-warning);
}

.div-ov-icn li i {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin: 4px 11px;
}

