* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;

}

a {
  text-decoration: none;
  color: #333;
}

.text-justify {
  text-align: justify;
}

.navmenu-hidden {
  display: none;
}

.navmenu-hidden.active {
  display: block;
}

.navmenu-hidden ul {
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  text-transform: uppercase;
  flex-direction: column;
  padding: 10px;
}

.navmenu-hidden ul li a {
  color: #fff;
}

.iconne-span-cercle {
  display: inline-block;
  background-color: rgb(255 200 0);
  border-radius: 50%;
  height: 112px;
  width: 112px;
  color: #fff;
}

.iconne-span-cercle i {
  font-size: 4em;
}

.fa-3x {
  font-size: 2.2rem !important;
  color: #fff;
}
.fa-2x{
  font-size: 1.5rem;
  position: relative;
  top: -2px!important;
  color: #fff;
}
.img-portfolio {
  transition: .3s;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  box-shadow: #8b828214 0 2px 20px;
  margin: 0;
  height: 222px;
}
.modal-fullscreen .modal-body{
  overflow-y: auto; /* Permet le défilement */
  scrollbar-width: thin; /* Réduit la largeur de la barre pour Firefox */
  scrollbar-color: transparent transparent; /* Couleur de la barre et du fond pour Firefox */
}
.modal-content{
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.bi-x-lg,
.btn-close{
  color: #fff;
}