/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
// #preloader {
//   display: flex;
//   position: fixed;
//   inset: 0;
//   width: 100%;
//   height: 100vh;
//   z-index: 99999;
// }

// #preloader:before,
// #preloader:after {
//   content: "";
//   background-color: #000000;
//   position: absolute;
//   inset: 0;
//   width: 50%;
//   height: 100%;
//   transition: all 0.3s ease 0s;
//   z-index: -1;
// }

// #preloader:after {
//   left: auto;
//   right: 0;
// }

// #preloader .line {
//   position: relative;
//   overflow: hidden;
//   margin: auto;
//   width: 1px;
//   height: 280px;
//   transition: all 0.8s ease 0s;
//   background: transparent;
// }

// #preloader .line:before {
//   content: "";
//   position: absolute;
//   background-color: #ffffff;
//   left: 0;
//   top: 50%;
//   width: 1px;
//   height: 0%;
//   transform: translateY(-50%);
//   animation: lineincrease 1000ms ease-in-out 0s forwards;
// }

// #preloader .line:after {
//   content: "";
//   position: absolute;
//   background-color: color-mix(in srgb, var(--default-color), transparent 95%);
//   left: 0;
//   top: 0;
//   width: 1px;
//   height: 100%;
//   transform: translateY(-100%);
//   animation: linemove 1200ms linear 0s infinite;
//   animation-delay: 2000ms;
// }

// #preloader.loaded .line {
//   opacity: 0;
//   height: 100% !important;
// }

// #preloader.loaded .line:after {
//   opacity: 0;
// }

// #preloader.loaded:before,
// #preloader.loaded:after {
//   animation: preloaderfinish 300ms ease-in-out 500ms forwards;
// }

@keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}
.cursor-pointer {
  cursor: pointer;
}

.bg-linear {
  opacity: 0.9;
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // background: aquamarine;
  width: 100%;
  height: 100vh;
}
.bg-linear .red {
  left: -13%;
  top: 80px;
  height: 600px;
  width: 50%;
  position: absolute;
  // background:red;
}
.bg-linear .blue {
  bottom: -80px;
  right: -13%;
  height: 600px;
  width: 50%;
  position: absolute;
  // background: blue;
}
.bg-linear img {
  width: 700px;
}
.portfolio,
.masthead,
button,
a,
.recaptchat,
textarea,
input {
  position: relative;
  z-index: 10;
}
@media (max-width: 400px) {
  .bg-linear .red,
  .bg-linear .blue {
    width: 80%;
    top: 0px;
  }
  .bg-linear img {
    width: 500px;
    height: 800px;
    margin-left: -80px;
  }
  .banner-cookies {
    display: block;
    left: 0;
    bottom: 0;
    margin: 0 10px;
  }
  .refuseButton {
    margin-left: 10px;
  }
}

//
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&display=swap");

:root {
  --secondary-font: "Bebas Neue", sans-serif;
}

/* hero section style */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  // background: #4e54c8;
  left: 0 !important;
  right: 0 !important;
}

.title {
  font-size: 12vw;
  font-weight: 400;
  color: var(--default-color);
  text-align: center;
  font-family: var(--secondary-font);
  font-size: normal;
  line-height: 0.9;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.post {
  font-size: 2rem;
  color: var(--default-color);
  text-align: center;
  margin-top: 1rem;
  font-family: var(--secondary-font);
}
.firstname,
.lastname {
  display: flex;
}
.div-col-gsap {
  text-align: center;
  // background-color: red;
  position: relative;
  padding: 0 !important;
}
.overlays {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 99999;
}

.bars {
  width: calc(100vw / 6);
  height: 100vh;
  background: #212529;
  position: relative;
  z-index: 99999;
}

@media (max-width: 990px) {
  .hero-section {
    margin-top: 5rem !important;
  }
  .title {
    font-size: 20vw;
  }
}
@media (max-width: 500px) {
  .hero-section {
    margin-top: 0 !important;
  }
}
