* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: #333;
}

.text-justify {
  text-align: justify;
}

.navmenu-hidden {
  display: none;
}

.navmenu-hidden.active {
  display: block;
}

.navmenu-hidden ul {
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  text-transform: uppercase;
  flex-direction: column;
  padding: 10px;
}

.navmenu-hidden ul li a {
  color: #fff;
}

.iconne-span-cercle {
  display: inline-block;
  background-color: rgb(255 200 0);
  border-radius: 50%;
  height: 112px;
  width: 112px;
  color: #fff;
}

.iconne-span-cercle i {
  font-size: 4em;
}

.fa-3x {
  font-size: 2.2rem !important;
  color: #fff;
}

.fa-2x {
  font-size: 1.5rem;
  position: relative;
  top: -2px !important;
  color: #fff;
}

.img-portfolio {
  transition: .3s;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  box-shadow: #8b828214 0 2px 20px;
  margin: 0;
  height: 222px;
}

.modal-fullscreen .modal-body {
  overflow-y: auto;
  /* Permet le défilement */
  scrollbar-width: thin;
  /* Réduit la largeur de la barre pour Firefox */
  scrollbar-color: transparent transparent;
  /* Couleur de la barre et du fond pour Firefox */
}

.modal-content {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.bi-x-lg,
.btn-close {
  color: #fff;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-family: "Raleway", sans-serif;
  color: #6c757d;
}

.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio-filters li.active {
  background-color: rgb(255 200 0);
  color: white;
  border-color: rgb(255 200 0);
}

/* fadeInUp */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.card-logos a img {
  width: 150px;
  height: auto;
  opacity: .5;
  filter: grayscale(100%);
}

.card-logos a img:hover {
  opacity: 1;
  filter: none;
}

#portfolio .portfolio-item {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  font-size: 1.5rem;
  color: #ccc;
}